*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family:'Byekan' ;
    src: url("/font/Yekan.ttf") format('truetype');
}
@font-face{
    font-family:'lalezar' ;
    src: url("/font/Lalezar-Font/TTF/Lalezar-Regular.ttf") format('truetype');
}
body{
    font-family: Byekan;
}
.header{
    height:550px;
    background-image: url("imag/WallpaperGram.IR_1553974204_14031.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
}
.nav-list{
    display: inline-block;
    list-style-type: none;
}
.nav-item{
    display: inline-block;
    padding: 15px;
}
.nav-item:hover{
    color:burlywood;
}
.header h1 title{
    font-size: 60px;
    font-family: lalezar;
    text-align: center;
    margin-top: 50px;
}
.header h1 span{
    color:burlywood;
}
.desc{
    width: 500px;
    height: 55px;
    margin: auto;
    margin-top: 20px;
    line-height: 55px;
    border-radius: 50px;
    border: 1px solid burlywood;
    background-color: rgba(0, 0, 0, 0.3);
}
.members{
    margin-top: 30px;
    text-align: center;
}
.member-list{
    margin-top: 25px;
    list-style-type: none
}
.member-item{
    display: inline-block;
    box-shadow: 0 0 15px #bbbbbb;
    width: 373px;
    margin: 20px;
}
.member-pic{
    width: 100%;
}
.member-name{
    font-size: 25px;
    margin-top: 5px;
}
.member-bio{
    padding: 20px;
    text-align: justify;
}
.about{
    height: 700px;
    padding-top: 50px;
    background-image: url("/image/-9223372036854775808_-210013.jpg");
    background-size: cover;
}
.circle{
    width: 600px;
    height: 600px;
    margin: auto;
    border-radius: 50%;
    text-align: center;
    padding: 100px 120px;
    background-color: darkred;
    background-color: rgba(222, 184, 135, 0.5);
}
.circle p{
    margin-top: 30px;
    text-align: justify;
}
.circle h2{
    font-size: 35px;
}